@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
}

header {
    background-image: linear-gradient(to right, white, blue, pink);
    color: white;
    text-align: center;
    padding: 10px;
}

header > h1 {
    margin-bottom: 15px;
    font-size: 3em;
    text-shadow: 2px 2px 4px black;
}

header > nav > a {
    color: white;
    text-decoration: none;
    background-color: rgba(15, 15, 104, 0.411);
    padding: 5px;
    border-radius: 10px;
}

header > nav > a:hover {
    background-color: rgba(15, 15, 104, 0.527);
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

main div {
    text-align: center;
}

main > div > img {
    height: 50vw;
    width: 300px;
    margin-bottom: 30px;
}

main h1 {
    margin-bottom: 10px;
}

footer {
    background-image: linear-gradient(to right, white, blue, pink);
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    background-color: rgba(15, 15, 104, 0.411);
    padding: 5px;
    border-radius: 10px;
}

footer a:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(15, 15, 104, 0.411);
    padding: 5px;
    border-radius: 10px;
}
